<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Profile</h1>
        <label>Name
          <input type="text" formControlName="name">
        </label>
        <label>Email Id
            <input type="text" formControlName="emailId">
          </label>
          <label>Status
            <input type="text" formControlName="status">
          </label>

       
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>
        <p>{{ status}} </p>
        

    </div>
  </div>
</ng-template>


